<!doctype html>
<html><head><title>SuperSprinter3K</title></head>
<body background="../static/PAPER.jpg" style="font-family:courier">
<h1>Super Sprinter 3000 - {{header}}</h1>
<form action={%if button=="Create"%}"/story"{%else%}"/story/{{record.id}}"{%endif%} method="POST">

{% for field in fields if field!="id" %}
<label for="{{field}}">{{field.capitalize()}}</label><br/>

{% if field=="status" %}
<select name="{{field}}" id="{{field}}" required>>

{% for status in states %}
<option value="{{status}}">{{status}}</option>
{% endfor %}
</select><br/>

{% elif field in ["title","text","criteria"] %}
<textarea name="{{field}}" id="{{field}}" rows="1" cols="80" required>

{% if record is defined%}
{{record.__dict__['_data'][field]}}
{%else%}
{{field}}
{%endif%}</textarea><br/>

{% elif field in ["estimation","value"] %}
<input type="number" name="{{field}}" id="{{field}}" min={{"100" if field=="value" else "0.5"}} max={{"1500" if field=="value" else "40"}} step={{"100" if field=="value" else "0.5"}} size="10" 
value="{% if record is defined%}{{record.__dict__['_data'][field]}}{%else%}{{field}}{%endif%}"/><br/>

{% endif %}
{% endfor %}

<button type='submit'>{{button}}</button></form></body></html>
