<!doctype html>
<html><head><title>SuperSprinter3K</title></head>
<body background="../static/PAPER.jpg" style="font-family:courier">
<h1>Super Sprinter 3000</h1>
{% if records.count()!=0 %}
<table>
<thead><tr>
{% for field in fields %}
<th>{{field}}</th>
{%endfor%}
</tr></thead>
<tbody>
{% for record in records %}
<tr>
{% for field in fields %}
<td>{{record.__dict__['_data'][field]}}</td>
{%endfor%}
<td><a href="/story/{{record.id}}"><img src="../static/PENCIL.png" height="20" alt="Edit"/></a></td>
<td><a href="/delete/{{record.id}}"><img src="../static/ERASER.png" height="20" alt="Delete"/></a></td>
</tr>
{%endfor%}
</tbody></table>
{%endif%}
<form action="{{url_for('create_story')}}">
<input type="submit" value="New Story"/></form></body></html>